## OPERATORS

1.ARITHMETIC OPERATOR 

2.RELATIONAL OPERATOR

3.LOGICAL OPERATOR

4.BITWISE OPERATOR

5.ASSIGNMENT OPERATOR

6.SPECIAL OPERATOR

#### ARITHMETIC OPERATOR

`+ ==> ADDITION

`- ==>SUBSTRACTION

`* ==>MUL

/ ==>DIVISION

% ==>MODULAR DIVISION

// ==>FLOOR DIVISION

** ==> EXPONENTIAL OR POWER OPERATOR

In [1]:
a=10
b=2
print("a+b=",a+b)
print("a-b=",a-b)
print("a*b=",a*b)
print("a/b=",a/b)
print("a//b=",a//b)
print("a%b=",a%b)
print("a**b=",a**b)

a+b= 12
a-b= 8
a*b= 20
a/b= 5.0
a//b= 5
a%b= 0
a**b= 100

In [2]:
'riz'+3#prints error coz we can only concatinate str to str

TypeError: can only concatenate str (not "int") to str

In [3]:
'riz'+'7'

'riz7'

In [4]:
'riz'*3

'rizrizriz'

In [5]:
'riz'*'3' #we can't multiply sequence by non-int of type 'str'

TypeError: can't multiply sequence by non-int of type 'str'

#### RELATIONAL OPERATOR

In [6]:
a=10
b=13
print("a>b is",a>b)
print("a<b is",a<b)
print("a<=b is",a<=b)
print("a>=b is",a>=b)
print("a==b is",a==b)
print("a!=b is",a!=b)

a>b is False
a<b is True
a<=b is True
a>=b is False
a==b is False
a!=b is True

##### CHAINING OF RELATIONAL OPERATOR

In [7]:
10<20<30

True

In [8]:
10>20<30

False

In [9]:
10.3<10<5.6>43.5

False

#### LOGICAL OPERATOR

In [10]:
True and True

True

In [11]:
True or False

True

In [12]:
False and True

False

In [13]:
not True

False

In [14]:
0 and 20 # returns 2st value if both are non zero else 1nd value

0

In [15]:
10 or 20 #returns 1st value if both are non zero else 2nd val

10

In [16]:
10 and 20

20

In [17]:
not 0

True

In [18]:
not 10

False

#### BITWISE OPERATOR 

& ==>and

| ==>or

^ ==>xor

~ ==>bbitwise complement

<< ==>left shift

`>> ==> right shift

In [19]:
4&5

4

In [20]:
True & True

True

In [21]:
10.5 & 13.6 # unsupported operand type(s) for &: 'float' and 'float'

TypeError: unsupported operand type(s) for &: 'float' and 'float'

In [22]:
~5

-6

In [23]:
print(10<<2)

40

In [24]:
10>>2

2

In [25]:
-10<<3

-80

In [26]:
True>>4

0

#### ASSIGNMENT OPERATOR

In [27]:
a,b,c,d=10,12,34,23
a

10

In [28]:
b

12

In [29]:
d

23

In [30]:
a+d

33

In [31]:
a+=10 #a=a+10

In [32]:
a

20

##### TERNARY OPERATOR

SYNTAX:

X=firstvalue if condition else secondvalue

In [33]:
x=30 if 10<43 else 20

In [34]:
x

30

In [35]:
a=int(input("enter 1st no.:"))
b=int(input("enter 2nd no.:"))

enter 1st no.:

ValueError: invalid literal for int() with base 10: ''

In [36]:
min= a if a>b else b

In [37]:
min

20

##### NESTING TERNARY OPERATOR

SYNTAX:
    
    X=firstval if cond else 2ndval if cond 3rd val...

In [38]:
x= 10 if 10<2 else 12 if 10>9 else 6

x

#### SPECIAL OPERATORS

1.IDENTITY OPERATORS: TO CHECK ADDRESS OF OBJECTS (is,is not,id)
 
2.MEMBERSHIP OPERATOR: TO CHECK WHETHER GIVEN OBJ IS MEMBER OF SPECIFIED LIST OR NOT (in ,not in)

In [39]:
a=10
b=10
a is b

True

In [40]:
a is not b

False

In [41]:
id(a)

140733240569888

In [42]:
id(b)

140733240569888

In [43]:
list1=[10,20,30]
print(10 in list1)

True

In [44]:
print(20 not in list1)

False

In [45]:
s="HELLO WORLD"
print("hello" in s)

False

In [46]:
print("HELLO" in s)

True

In [47]:
print('L' in s)

True